streamlit==1.34.0
transformers==4.41.1     # tanpa [tf]
torch==2.2.2+cpu         # atau biarkan torch diambil otomatis
safetensors==0.4.2
sentencepiece==0.1.99    # jika tokenizer SentencePiece
google-api-python-client==2.126.0
pandas
numpy
matplotlib
seaborn
wordcloud